.modal {
  background-color: #2a2416;
  width: 80%;
  color: white;
  font-weight: bold;
  font-family: "Arima Madurai", serif;

  &__container {
    background-color: #999999;
    text-align: right;
  }

  &__button-x {
    font-size: 27px;
    border: none;
    background-color: rgb(170, 48, 7);
    color: white;
    cursor: pointer;
  }

  &__text-container {
    margin-top: 7%;
    display: flex;
    @include flex-container;
    flex-direction: column;
  }
  &__text {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
  }

  &__button {
    margin-top: 25%;
    margin-bottom: 25%;
    color: white;
    background-color: #b48e40;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2.5vw;

    &:hover {
      background-color: #7b5d20;
      font-weight: bold;
    }
  }
}
