.purchase-container {
  margin: 5% 30% 13% 30%;

  &__buy-form {
    border-radius: 10px;
    border: 2px solid #b48e40;
  }

  &__information {
    font-size: 1.7vw;
    margin-top: 3%;
    margin-left: 3%;
  }

  &__label {
    display: block;
    margin-top: 6%;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    font-family: "Arima Madurai", serif;
  }

  &__name-field {
    margin-top: 1%;
    font-family: "Arima Madurai", serif;
    font-size: 125%;
    background-color: #000000;
    color: white;
    width: 95%;
    border: 1px solid #999999;
  }

  &__error {
    font-size: 2vw;
    color: red;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 5%;
    gap: 5%;
  }

  &__btn {
    color: white;
    background-color: #b48e40;
    padding: 3% 6%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.65vw;
    font-weight: bold;

    &:hover {
      font-size: 1.6vw;
      background-color: #7b5d20;
    }
  }
}
