.statistic-card {
  @include flex-container;
  &__img {
    width: 80%;
    height: auto;
  }

  &__info {
    margin-left: 1%;
    @include flex-container;
    flex-direction: column;
  }

  &__number {
    font-family: "Arima Madurai", serif;
    color: white;
    font-weight: bold;
    font-size: 3vw;
  }

  &__name {
    font-family: "Arimo", serif;
    color: #999999;
    font-size: 1vw;
  }

  @include phone {
    &__img {
      width: 70%;
      height: auto;
    }
    &__number {
      font-family: "Arima Madurai", serif;
      color: white;
      font-weight: bold;
      font-size: 3.5vw;
    }
    &__name {
      font-family: "Arimo", serif;
      color: #999999;
      font-size: 1.4vw;
    }
  }
}
