.barbers-wrapper {
  &__slider {
    margin-top: 2.5%;
    @include flex-container;
  }

  &__barbers-container {
    margin-top: 5%;
    font-weight: bold;
    @include flex-container;
    gap: 5%;
    font-family: "Arima Madurai", serif;
    color: white;
  }

  &__barbers-group {
    border: 1px solid #ddd;
    margin-top: 1%;
    padding: 10px;
    border-radius: 5px;
  }

  &__barbers-item {
    margin-top: 5%;
    color: #b48e40;
  }

  &__brand-logo {
    margin-top: -2%;
  }
}
