.manager-feedbacks {
  margin-top: 4%;

  &__empty {
    @include flex-container;
    margin: 25% 0;
    color: white;
    font-size: 2.5vw;
    font-weight: bold;
    font-family: "Arima Madurai", serif;
  }

  &__text {
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
    font-family: "Arima Madurai", serif;
  }

  &__card-container {
    margin-top: 3%;
    cursor: pointer;
    @include flex-container;
    flex-direction: column;
    padding: 0 20%;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    color: white;
  }

  @include phone {
    &__empty {
      @include flex-container;
      margin: 50% 0;
      font-size: 3.5vw;
    }

    &__text {
      font-size: 2.2vw;
    }

    &__card-container {
      padding: 0 15%;
    }

    &__pagination {
      margin-top: 4%;
    }
  }
}
