.header {
  width: 100%;
  @include flex-container;
  background-color: #101010;
  margin-top: 1.5%;
  color: white;
  position: relative;

  &__logo-link {
    cursor: pointer;
    @include flex-container;
    width: 20%;
  }

  &__logo-img {
    width: 50%;
    height: auto;
  }

  &__menu-list {
    width: 50%;
    @include flex-container;
    background-color: #101010;
    height: 6vw;
    color: white;
  }

  &__menu-list-phone {
    width: 100%;
    position: absolute;
    background-color: #b48e40;
    top: 100%;
  }

  .active-container {
    width: 22%;
    @include flex-container;
    gap: 12%;

    &__book-btn {
      background-color: #b48e40;
      padding: 10% 10%;
      color: white;
      cursor: pointer;
      font-size: 1.5vw;
      border-radius: 5px;

      &:hover {
        font-weight: bold;
      }
    }

    &__icons-container {
      @include flex-container;
      max-width: 100%;
      justify-content: space-between;
    }

    &__menu-link {
      display: none;

      &:hover {
        display: inline-block;
        color: #b48e40;
        font-size: 1.3vw;
      }
    }

    &__shopping-link {
      cursor: pointer;
      @include flex-container;
      margin-right: 15%;

      &:hover {
        color: #b48e40;
      }

      &:focus {
        color: #b48e40;
        border-bottom: 2px solid #b48e40;
      }
    }

    &__shopping-icon {
      height: auto;
      max-height: 100%;
    }

    &__shopping-number {
      margin-left: 10%;
    }
  }

  @include phone {
    height: 13vw;
    &__logo-img {
      width: 100%;
      height: auto;
    }

    & .active-container {
      &__book-btn {
        display: none;
      }

      &__icons-container {
        @include flex-container;
        gap: 15%;
      }

      &__menu-icon {
        width: 100%;
        height: auto;
        max-height: 100%;
      }

      &__menu-link {
        cursor: pointer;
        @include flex-container;
      }

      &__shopping-icon {
        width: 100%;
        height: auto;
        max-height: 100%;
      }

      &__favourite-link {
        margin-right: 2%;
      }

      &__shopping-number {
        font-size: 4vw;
      }
    }
  }
}
