.cart-card {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 3%;
  color: white;
  border: 1px solid #b48e40;
  border-radius: 10px;

  &__img {
    width: 15%;
    height: auto;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
  }

  .cart-text {
    display: flex;
    font-size: 1.5vw;
    width: 75%;

    &__title {
      @include flex-container;
      font-family: "Arima Madurai", serif;
      width: 20%;
      font-weight: bold;
    }

    &__description {
      font-family: "Arima Madurai", serif;
      width: 50%;
      @include flex-container;
      text-align: justify;
    }

    &__color {
      @include flex-container;
      font-family: "Arima Madurai", serif;
      width: 13%;
      margin-left: 4%;
    }

    &__price {
      font-family: "Arima Madurai", serif;
      width: 13%;
      @include flex-container;
    }
  }

  &__btn {
    margin-left: 2%;
    padding: 1% 1%;
    width: 5%;
    box-sizing: border-box;
    outline: none;
    border: 1px solid transparent;
    line-height: 32px;
    font-size: 1.5vw;
    font-weight: 500;
    color: #fff;
    background-color: #b48e40;
    cursor: pointer;
  }

  &__btn:hover {
    border-color: transparent;
    background-color: #7b5d20;
    color: #fff;
  }

  @include phone {
    margin-top: 7%;
    flex-direction: column;

    &__img {
      margin-top: 2%;
      width: 95%;
      height: auto;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-radius: 10px;
    }

    .cart-text {
      margin: 4% 0%;
      @include flex-container;
      justify-content: space-between;
      &__title {
        width: 50%;
        font-size: 3vw;
      }

      &__description {
        display: none;
      }

      &__color {
        display: none;
      }
      &__price {
        font-size: 3vw;
        font-family: "Arima Madurai", serif;
        width: 50%;
        @include flex-container;
      }
    }

    &__btn {
      margin: 4% 0%;
      width: 50%;
      border: none;
      border-radius: 10px;
      font-size: 1.5vw;
      font-weight: bold;
    }
  }
}
