.appointment {
  @include flex-container;
  flex-direction: column;
  &__title {
    font-size: 2.4vw;
    color: white;
    font-weight: bold;
    margin-top: 2%;
    font-family: "Arima Madurai", serif;
  }

  &__form {
    @include flex-container;
    flex-direction: column;
    border: 1px solid #b48e40;
    width: 25%;
    margin-top: 2%;
    border-radius: 4%;

    .book-form {
      &__input {
        width: 87%;
        margin-top: 8%;
        font-size: 1.65vw;
        background-color: black;
        border: 1px solid #999999;
        font-family: "Arima Madurai", serif;
        color: white;
        border-radius: 5px;
        cursor: pointer;
      }

      &__btn {
        margin-top: 25%;
        margin-bottom: 15%;
        padding: 15% 0%;
        font-size: 1.5vw;
        color: white;
        background-color: #b48e40;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          font-weight: bold;
          background-color: #7b5d20;
        }
      }
    }
  }
}
